    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
    background-color: #ffea35;
    font-family: sans-serif;
    margin: 1%;
    margin-bottom: 1%;
    }

    .container {
    display: flex;
    height: 95vh;
    justify-content: center;
    }

    .purple-line {
    width: 10%;
    background-color: #e016ff;
    }

    .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 40px;
    }

    .top-section {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7%;
    margin-top: 10%;
    margin-bottom: 1%;
    margin-left: 5%;
    }

    .orange-block {
    top: 20%;
    background-color: #ff800b;
    width: 30%;
    height: 130px;
    position: relative;
    display: flex;
    }


    .box1, .box2, .box3 {
        background-color: #ffbb7c;
        width: 115px;
        height: 55px;
        position: absolute;
      }
      
      .box1 {
        top: 0;
        left: 0;
      }
      
      .box2 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .box3 {
        bottom: 0;
        right: 0;
      }
      

    .blue-line {
    background-color: #1c2260;
    height: 60px;
    width: 88.2%;
    position: absolute; 
    }

    .bottom-section {
    display: flex;
    justify-content: space-around;
    gap: 5%;
    margin: 7%
    }

    .pink-block {
    background-color: #ff0b80;
    width: 40%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 8%;
    margin-top: 10%;

    }

    .box4, .box5, .box6 {
    background-color: #ff7db9;
    width: 16%;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    }

    .line {
    background-color: #ff7db9;
    height: 20px;
    width: 100%;
    }
